  <p>
    <strong>Recipient:</strong>
    <%= follow_request.recipient.username %>
    <%= follow_request.recipient %>
  </p>

  <p>
    <strong>Sender:</strong>
    <%= follow_request.sender.username %>
    <%= follow_request.sender %>
  </p>


  <p>
    <strong>Status:</strong>
    <%= follow_request.status %>
  </p>
