<!-- app/views/users/followers.html.erb -->

<div class="row">
  <div class="col md-6 offset-3">
    <h1>
      <%= @user.username %>
    </h1>

    <ul class="nav nav-pills nav-justified">
      <li class="nav-item">
        <%= link_to "Posts", user_path(@user.username), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Liked Photos", liked_path(@user.username), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Feed", user_feed_path(@user.username), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Followers", user_followers_path(@user.username), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Following", user_following_path(@user.username), class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>

<div class="container">
  <ul class="list-group">
    <% @user.followers.each do |follower| %>
      <li class="list-group-item list-group-item-action">
        <%= link_to follower.username, user_path(follower.username) %>
      </li>
    <% end %>
  </ul>
</div>
